#=========================================================================
# TravisCI Setup
#=========================================================================

#------------------------------------------------------------------------
# language and build matrix
#------------------------------------------------------------------------

language: cpp

git:
    - depth: 3

python:
    - 3.6

dist: bionic

env:
    - CONFIG=""

compiler:
    - gcc

cache: ccache

#------------------------------------------------------------------------
# install dependencies
#------------------------------------------------------------------------

before_install:
    - pyenv global 3.6

install:
    # Install Python requirements
    - pip install --upgrade pip setuptools twine
    - pip install numpy pyyaml mkl mkl-include setuptools cmake cffi typing sklearn tqdm pytest
    - pip list

#------------------------------------------------------------------------
# Build and run pytorch tests with emulation layer
#------------------------------------------------------------------------

jobs:
    include:
        - stage: cache warmup
          script:
              # Disable ASLR
              - sudo sh -c "echo 0 > /proc/sys/kernel/randomize_va_space"
              - cat /proc/sys/kernel/randomize_va_space
              # Enable compiler cache
              - sudo ln -s /usr/lib/ccache /usr/local/bin/gcc
              - sudo ln -s /usr/lib/ccache /usr/local/bin/g++
              # Check gcc version
              - ldd --version
              - gcc --version
              # Env setup
              - export MAX_JOBS=2
              - export BUILD_TEST=0
              - export USE_CUDA=0
              - export USE_CUDNN=0
              - export USE_FBGEMM=0
              - export USE_MKLDNN=0
              - export USE_NNPACK=0
              - export USE_QNNPACK=0
              - export USE_DISTRIBUTED=0
              - export USE_OPENMP=0
              - export ATEN_THREADING=NATIVE
              # Disable GCC warnings
              - export CFLAGS="-w"
              # Enable emulation layer
              - export USE_HB_EMUL=1
              # Build pytorch
              - python setup.py build --cmake-only
              - cd build
              - make torch -j2
        - stage: build pytorch
          script:
              # Disable ASLR
              - sudo sh -c "echo 0 > /proc/sys/kernel/randomize_va_space"
              - cat /proc/sys/kernel/randomize_va_space
              # Enable compiler cache
              - sudo ln -s /usr/lib/ccache /usr/local/bin/gcc
              - sudo ln -s /usr/lib/ccache /usr/local/bin/g++
              # Check gcc version
              - ldd --version
              - gcc --version
              # Env setup
              - export MAX_JOBS=2
              - export BUILD_TEST=0
              - export USE_CUDA=0
              - export USE_CUDNN=0
              - export USE_FBGEMM=0
              - export USE_MKLDNN=0
              - export USE_NNPACK=0
              - export USE_QNNPACK=0
              - export USE_DISTRIBUTED=0
              - export USE_OPENMP=0
              - export ATEN_THREADING=NATIVE
              # Disable GCC warnings
              - export CFLAGS="-w"
              # Enable emulation layer
              - export USE_HB_EMUL=1
              # Build and install pytorch
              - python setup.py install
              # Check torch
              - pip list
              # Run pytests
              - cd hammerblade/torch/tests
              - python -m pytest -v .
